/* Welcome Page */
.homepage {
    border: 2px solid black;
    padding: 2vh;
    border-radius: 20px;
    margin-top: 5vh auto;
    margin-bottom: auto;
    max-width: 800px;
    text-align: center;
}

/* Text */

.description {
    font-weight: bold;
}


/* Picture */

.picture {
    max-width: 100%;
    height: auto;
    margin-top: 1vh;
}

/* Buttons */

.box-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: yellow;
    border: 2px solid black;
    border-radius: 5px;
    text-decoration: none;
    color: black;
}

.box-button a {
    color: black;
}


.box-button a:hover {
    color: #1A85FF;
    font-weight: bold;
}
