@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap');

* {
    font-family: Arial, sans-serif;
    text-align: center;
}

html {
    height: 100vh;
}

body {
    background: linear-gradient(to bottom, #6B52AE, #1A85FF); 
    background-size: cover; 
    background-attachment: fixed;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    text-align: center;
    padding: 1em;
}

header h1 {
    color: rgba(255,50,175, 1);
    font-family: 'Sixtyfour', sans-serif;
    font-size: 8vh;
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.01);
    }
    100% {
        transform: scale(1);
    }
}

footer {
    color: white;
    flex: 0 30px;
    background: hsl(180, 10%, 10%);
    justify-content: center;
}

.footer-links {
    font-weight: bold;
    text-decoration: none; 
}

main {
    /* background: linear-gradient(to bottom, #6B52AE, #1A85FF); */
    background-size: cover;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#description {
    border: 2px solid black;
    padding: 20px;
    border-radius: 5px;
    margin: 20px auto;
    max-width: 800px;
    text-align: center;
}

/* Logo */
#logo {
    float: left;
}

/* Navigation Bar */

.yellow-nav-bar {
    list-style: none;
    font-weight: bold;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 10);
    border: 2px solid black;
    border-radius: 5px;
    margin: 0;
}

.yellow-nav-bar li {
    padding: 10px;
}

.yellow-nav-bar a {
    text-decoration: none;
    color: black;
    padding-left: 10vh;
    padding-right: 10vh;
}

.yellow-nav-bar a:hover {
    color: #1A85FF;
    font-weight: bold;
}

/* @media only screen and (max-width:501px) {
    .yellow-nav-bar a {
        padding-left: 15px;
        padding-right: 15px;
    }
    
} */

/* Button */

.box-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: yellow;
    border: 2px solid black;
    border-radius: 5px;
    text-decoration: none;
    color: black;
}

.box-button a:hover {
    color: #1A85FF;
    font-weight: bold;
}


/* Media Screen */
@media (max-height: 600px) {
    /* header {
      display: none;
    } */
    #logo {
        display: none;
    }
    footer {
      display: none;
    }
    main {
      flex: 1 100vh;
    }
  }