/* Main Body */

main {
    padding-top: 5vh;
    padding-bottom: 10vh;
    flex-direction: column;
    position: relative;
}

h2 {
    font-size: 5vh;
}

/* Form */
.plan_event_box {
    padding: 5vh;
    background-color: yellow;
    text-align: center; /* Center the content horizontally */
    border-radius: 30px;
}

form {
    display: inline-block;
    text-align: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
  }

ul{
    list-style: none;
}

.notification {
    background-color: yellow;
    padding: 1em;
    border-radius: 60px;

    position: absolute;
    top: 0;
    right: 0;
    margin-right: 5vh;
}
